.icons-wrapper {
    height: 100%;
    width: fit-content;   
}

.icons-wrapper span {
    margin: 0 0.5rem;
    padding: 0.1rem;
}

.icons-wrapper span svg { /*svg estiliza o ícone em si*/
    cursor: pointer;
    font-size: 25pt;
    color: #fff;
    border-radius: 8px;
    padding: 0.5rem;
    transition: filter .2s ease-in-out;
}

.icons-wrapper span svg:hover {
    filter: brightness(0.85);
}

.view-icon {
    background-color: #343a40;
}

.edit-icon {
    background-color: #ffc107;
}

.delete-icon {
    background-color: #dc3545;
}